<h2>Правила игры:</h2>
<p>
В игре участвуют 4 человека. В начале хода каждому участнику дается определенная сумма. Первая ставка - 50 рублей, которая впоследствии каждые несколько туров будет повышаться.
</p><p>
В начале каждого тура Вы решаете, хотите ли Вы вложить Вашу ставку в общий банк на столе. На это у Вас есть 30 секунд. То же самое решают другие участники. Если больше половины участников вложили деньги в общий банк, то все четверо (даже тот, кто не вложил) получают учетверенную ставку. Если же вкладывают двое и меньше участников, то их деньги сгорают, а те, кто не вкладывал, ничего не теряют. Другими словами, возможны 4 исхода раунда.
</p><p>
Предположим, что ставка на данный момент 10 рублей.
</p><p>
Вы можете проиграть 10 рублей, то есть получить 0 в конце раунда - в случае, если Вы вложили деньги, но в итоге в общий банк вложило не больше 2 участников.
</p><p>
Вы можете сохранить 10 рублей - в случае, если Вы не вложили деньги, а в общий банк положило не больше двух участников.
</p><p>
Вы можете выиграть 40 рублей - в случае, если Вы вложили, и в общей банк положили деньги больше половины участников.
</p><p>
Вы можете выиграть 50 рублей - в случае, если Вы не вложили деньги в общий банк, а остальные трое участников вложили. Таким образом, вы сохранили 10 рублей, так как не делали ставки, и получили 40 рублей из общего банка.
</p><p>
Перед началом каждого раунда Вы должны сообщить другим участникам, собираетесь Вы вкладывать деньги или нет. При этом данное сообщение Вас прямо ни к чему не обязывает. Вы можете сказать правду или блефовать. Другие участники также сообщают свое решение, но так же как и Вы, могут говорить правду или ложь. На принятие решения о сообщении у всех участников есть только 30 секунд.
</p><p>
После этого все могут ознакомиться с высказываниями друг друга, после чего предлагается сделать или не сделать саму ставку. После чего сообщается результат раунда: кто сколько заработал. Заработанная сумма уходит в Ваш личный банк.
</p>
<%= link_to 'Далее', :controller => :game, :action => :game%>